[project]
	description = A demo for self-updating application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/soorianarayanan (suryann)
[access "refs/for/refs/*"]
	read = group user/soorianarayanan (suryann)
	push = group user/soorianarayanan (suryann)
	label-Code-Review = -2..+2 group user/soorianarayanan (suryann)
	label-Verified = -1..+1 group user/soorianarayanan (suryann)
	rebase = group user/soorianarayanan (suryann)
	removeReviewer = group user/soorianarayanan (suryann)
	submit = group user/soorianarayanan (suryann)
[access "refs/heads/*"]
	read = group user/soorianarayanan (suryann)
	create = group user/soorianarayanan (suryann)
	push = +force group user/soorianarayanan (suryann)
	pushMerge = group user/soorianarayanan (suryann)
[access "refs/tags/*"]
	push = +force group user/soorianarayanan (suryann)
	pushTag = group user/soorianarayanan (suryann)
	pushSignedTag = group user/soorianarayanan (suryann)
